# Import Library

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# Deklarasi Modul

## Inisialisasi Dataset

In [2]:
df = pd.read_csv("datasets/covid_19_indonesia.csv")

## Show Dataset

In [3]:
pd.DataFrame(df)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.00,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.00,1.00,NaN,NaN,NaN,NaN
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,0.07,0.25,111.11%,611.11%,1.00,3.00,NaN,NaN,NaN,NaN
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,0.07,0.32,144.44%,622.22%,1.00,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,0.38,95.62,2.02%,83.65%,0.92,0.50,NaN,NaN,NaN,NaN
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,3.41,216.51,3.28%,89.10%,1.24,9.00,NaN,NaN,NaN,NaN
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,1.81,228.11,2.26%,87.72%,0.93,1.00,NaN,NaN,NaN,NaN
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,0.73,190.93,5.04%,86.97%,1.15,0.38,NaN,NaN,NaN,NaN
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,0.34,82.82,3.24%,88.78%,1.22,0.83,NaN,NaN,NaN,NaN

# Data Wrangling

## Drop Column
drop Kolom yang tidak berguna

In [4]:
df.drop(["Province", "Country", "Continent", "Island", "Time Zone", 
                "Special Status", "Total Regencies", "Total Cities", "Total Districts", "Total Urban Villages", "Total Rural Villages", "Area (km2)", 
                "New Cases per Million", "Total Cases per Million","New Deaths per Million", "Total Deaths per Million", "Case Fatality Rate",
                "Case Recovered Rate", "Growth Factor of New Cases","Growth Factor of New Deaths", "City or Regency"],axis=1,inplace=True)

## Rename Column

nama variabel tidak boleh ada spasi jika dalam program <br>
makanya ini kita akan melakukan Rename Kolom pada dataset<br>
<li>CamelCase
<li>snake_case

### Before

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                16283 non-null  object
 1   Location            16283 non-null  object
 2   New Cases           16283 non-null  int64
 3   New Deaths          16283 non-null  int64
 4   New Recovered       16283 non-null  int64
 5   New Active Cases    16283 non-null  int64
 6   Total Cases         16283 non-null  int64
 7   Total Deaths        16283 non-null  int64
 8   Total Recovered     16283 non-null  int64
 9   Total Active Cases  16283 non-null  int64
 10  Location Level      16283 non-null  object
 11  Population          16283 non-null  int64
 12  Population Density  16283 non-null  float64
 13  Longitude           16283 non-null  float64
 14  Latitude            16283 non-null  float64
 15  Name                0 non-null      float64
 16  Item                0 non-null      float64
 17  Kind                0 non-null      float64
 18  Hidden              0 non-null      float64
dtypes: float64(7), int64(9), object(3)
memory usage: 2.4+ MB

### process

In [6]:
df_renamed = df.rename(columns = {
    'Date' : 'tanggal',
    'Location ISO Code' : 'location_iso_code',
    'Location' : 'provinsi',
    'New Cases' : 'new_cases',
    'New Deaths' : 'new_deaths',
    'New Recovered' : 'new_recovered',
    'New Active Cases' : 'new_active_cases',
    'Total Cases' : 'total_kasus',
    'Total Deaths' : 'total_kematian',
    'Total Recovered' : 'total_pulih',
    'Total Active Cases' : 'total_kasus_aktif',
    'Location Level' : 'location_level',
    'Population':'populasi',
    'Population Density':'kepadatan_populasi',
    'Longitude':'garis_bujur',
    'Latitude':'garis_lintang',
    'Name':'nama',
    'Item':'item',
    'Kind':'jenis',
    'Hidden':'disembunyikan'
    
})

### After

In [7]:
df_renamed.head()

,tanggal,provinsi,new_cases,new_deaths,new_recovered,new_active_cases,total_kasus,total_kematian,total_pulih,total_kasus_aktif,location_level,populasi,kepadatan_populasi,garis_bujur,garis_lintang,nama,item,jenis,disembunyikan
0,1/8/2020,Jawa Timur,9,3,1,5,9,5,10,-6,Province,40479023,846.78,112.732941,-7.723346,NaN,NaN,NaN,NaN
1,1/9/2020,Jawa Timur,0,1,23,-24,9,6,33,-30,Province,40479023,846.78,112.732941,-7.723346,NaN,NaN,NaN,NaN
2,1/10/2020,Jawa Timur,0,1,14,-15,9,7,47,-45,Province,40479023,846.78,112.732941,-7.723346,NaN,NaN,NaN,NaN
3,1/11/2020,Jawa Timur,0,3,8,-11,9,10,55,-56,Province,40479023,846.78,112.732941,-7.723346,NaN,NaN,NaN,NaN
4,1/12/2020,Jawa Timur,0,3,1,-4,9,13,56,-60,Province,40479023,846.78,112.732941,-7.723346,NaN,NaN,NaN,NaN

## Convert Type, Obj to Date for Column Date

In [9]:
# convert Date column to date type
df_renamed["tanggal"] = pd.to_datetime(df_renamed["tanggal"])

## Check Duplicate

In [10]:
df_renamed[df_renamed.duplicated()].sum()

provinsi              0.0
new_cases             0.0
new_deaths            0.0
new_recovered         0.0
new_active_cases      0.0
total_kasus           0.0
total_kematian        0.0
total_pulih           0.0
total_kasus_aktif     0.0
location_level        0.0
populasi              0.0
kepadatan_populasi    0.0
garis_bujur           0.0
garis_lintang         0.0
nama                  0.0
item                  0.0
jenis                 0.0
disembunyikan         0.0
dtype: float64

## Check Missing Data

In [11]:
df_renamed.isnull().sum()

tanggal                   0
provinsi                  0
new_cases                 0
new_deaths                0
new_recovered             0
new_active_cases          0
total_kasus               0
total_kematian            0
total_pulih               0
total_kasus_aktif         0
location_level            0
populasi                  0
kepadatan_populasi        0
garis_bujur               0
garis_lintang             0
nama                  16283
item                  16283
jenis                 16283
disembunyikan         16283
dtype: int64

# Visualization

In [ ]:
df_renamed[['']]

## Total_cases & total_deaths

In [ ]:
#IDN
kasus_yg_dikonfimasi = data[data['location_iso_code']=='IDN'].groupby(['tanggal']).agg({'total_kasus':['sum']})
kematian_berdasarkan_tanggal = data[data['location_iso_code']=='IDN'].groupby(['tanggal']).agg({'total_kematian':['sum']})
total_date_IDN= ConfirmedCases_date_IDN.join(kematian_berdasarkan_tanggal)


plt.figure(figsize=(15,10))
plt.subplot(2, 2, 1)
total_date_IDN.plot(ax=plt.gca(), title='Indonesia')